/*----------Layout-------------*/
body {
  background-color: white;
  font-family: quicksand, sans-serif;
}
/*----------Navigation-------------*/
.nav {
  position: sticky;
}

.navbar-brand {
  padding-left: 20px;
}
/*----------Lyrics-------------*/

/*----------Display Lyrics-------------*/

/*----------Search Bar-------------*/

/*----------Button Styles-------------*/
