@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

/*----------Layout-------------*/
body {
  background-color: white;
  font-family: quicksand, sans-serif;
}
/*----------Navigation-------------*/
.nav {
  position: sticky;
}

.navbar-brand {
  padding-left: 5px;
}
/*----------Button-------------*/
.bmbtn {
  background-color: #ff66c4;
  border: 0;
  border-radius: 33px;
  color: #fff;
  padding: 4px 10px;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

/*----------Jumbotron has no style like me in 6th grade-------------*/

/*----------Lyrics-------------*/
main {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 131px 0;
  position: relative;
  background-image: url("../assets/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

/*----------Search Bar-------------*/
#form input {
  margin: 4px 2px;
  padding: 10px 20px;
  border-width: 0;
  border-radius: 33px;
  border-color: black;
  text-indent: 10px;
  display: inline-flex;
  width: 70%;
}

#searchButton {
  margin: 4px 2px;
  padding: 10px 20px;
  border: none;
  border-radius: 33px;
  background-color: rgb(244, 188, 68);
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#searchbutton:active {
  transform: scale(0.95);
}
input:focus,
button:focus {
  outline: none;
}
/*----------Results Styles-------------*/
.container {
  margin: 30px auto;
  max-width: 100%;
  width: 500px;
}

.container h2 {
  font-weight: 300;
}

.container p {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
}

.centered button {
  transform: scale(1.3);
  margin: 15px;
}

/*----------Highlight Lyrics-------------*/
span.lead:hover {
  background-color: rgb(244, 188, 68);
}

/*----------Display Lyrics-------------*/
ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
